[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
fastapi = "*"
youtube-transcript-api = "*"
tiktoken = "*"
elasticsearch = "*"

[dev-packages]
tqdm = "*"
notebook = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
